<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="roll_no" id="" placeholder="roll no">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="age" id="" placeholder="age">
        <input type="submit" value="Add">
    </form>
    <table>
        <tr>
            <th>Roll No</th>
           <th>Name</th> 
           <th>Age</th>
        </tr>
        {% for i in student %}
    
    <tr>
        <th>{{i.roll_no}}</th>
        <th>{{i.name}}</th>
        <th>{{i.age}}</th>
        <th>
            <a href="edit/{{i.pk}}">Edit</a>
            <a href="delete/{{i.pk}}">Delete</a>
        </th>
      
    </tr>
    {% endfor %}

    </table>
   
</body>
</html>